.office_page {
  background-color: #252323;
  border-radius: 5%;
  color: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  padding: 30px;
  clear: both;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.office_text {
  margin: 20px;
  font-size: 23px;
}
.office_item:last-child {
  background-color: #c9c9c9;
  width: 60px;
}
.form_btn {
  width: 300px;
  padding: 15px;
  margin: 15px;
  color: #1e1e1e;
  text-align: center;
  outline: none;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: #c9c9c9;
}
.form_btn:hover {
  background-color: #373737;
}
