.form_page {
  margin: 0 auto;
  background-color: #252323;
  border-radius: 5%;
  color: #dbdada;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}
.form_input {
  margin: 20px;
  padding: 10px;
  width: 260px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.form_submit {
  width: 280px;
  margin: 20px;
  padding: 1em;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(107, 107, 107);
}
.form_name {
  margin-left: 20px;
  color: white;
  font-weight: 500;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.781);
  z-index: 9999;
}

.show_modal {
  position: absolute;
  padding: 20px;
  width: 30%;
  height: 50%;
  top: 15%;
  left: 35%;
  box-sizing: border-box;
  background-color: rgba(240, 240, 240, 0.884);
  border-radius: 10px;
  color: black;
  text-align: center;
  z-index: 2;
  opacity: 1;
}
.hidden {
  display: none;
}

.text_modal {
  margin-top: 70px;
}
.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: black;
  width: 30px;
}
