.form_page {
  margin: 0 auto;
  background-color: #1e1e1e;
  border-radius: 5%;
  color: #c9c9c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  width: 375px;
  height: 570px;
}
.form_input {
  margin: 20px;
  padding: 15px;
  width: 300px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgb(255, 255, 255);
}
.form_submit:hover {
  background-color: #373737;
}

.form_submit {
  width: 330px;
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
  margin: 15px;
  color: #1e1e1e;
  background-color: #c9c9c9;
  position: absolute;
  left: 27px;
  font-size: 16px;
}
.form_name {
  font-weight: 500;
  margin: 20px;
  font-size: 20px;
  color: #c9c9c9;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.781);
  z-index: 9999;
}
.show_modal {
  position: absolute;
  padding: 20px;
  width: 250px;
  height: 200px;
  top: 15%;
  left: 40%;
  box-sizing: border-box;
  background-color: #18b977;
  border-radius: 10px;
  color: #1e1e1e;
  text-align: center;
  z-index: 2;
  opacity: 1;
}
.hidden {
  display: none;
}
.text_modal {
  margin-top: 70px;
}
.close_modal {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: #1e1e1e;
  width: 30px;
}
