.personale_page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c9c9c9;
  border-radius: 25px;
  height: 570px;
  width: 375px;
  color: #c9c9c9;
  position: relative;
  min-height: 100%;
  clear: both;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.3);
}
.block-big {
  background-color: #1e1e1e;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  height: 430px;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
}
.param {
  background-color: #18b977;
  width: 300px;
  padding: 5px;
  padding-left: 10px;
  color: #1e1e1e;
  background: linear-gradient(90deg, #18b977, #1e1e1e);
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.params {
  background-color: #18b977;
  width: 300px;
  padding: 5px;
  padding-left: 10px;
  color: #1e1e1e;
  background: linear-gradient(90deg, #c9c9c9, #1e1e1e);
  border-radius: 2px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.personal-name-two {
  font-size: 18px;
  color: #c9c9c9;
  margin: 10px 0 10px 0;
}
.personal-info {
  margin-top: 10px;
}
.output {
  color: #c9c9c9;
  position: absolute;
  padding: 20px;
  color: #18b977;
  z-index: 1;
}
.header-block {
  display: flex;
  flex: start;
  flex-direction: column;
  width: 100%;
}
.personal_name {
  color: #373737;
  font-size: 20px;
  font-weight: 600;
}

.personal_hello {
  font-size: 25px;
  font-weight: 600;
  width: 50%;
  text-align: left;
  margin: 20px 0 20px 0;
  color: #373737;
}

.block-info {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-top: 30px;
}
.personal-item_name {
  font-size: 18px;
  color: #18b977;
}
.block-personal {
  border: 1px solid #373737;
  width: 50px;
  height: 3px;
  background-color: #373737;
  border-radius: 5px;
  margin: 2px;
  position: relative;
  z-index: 9999;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #18b977;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
