.main_page {
  background-color: #252323;  
  border-radius: 5%;
  color: #c2bcbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.btn_add {
    width: 280px;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
    text-decoration: none;
    color: #252323;
    background-color: #c2bcbc;
    border-radius: 5px;
    font-size: 12px;
}
.logo {
    width: 80%;
}
.main_contact {
    font-weight: 300;
    font-size: 10px;
    box-sizing: border-box;
    width: 100%;
}
.main_contact div:nth-child(1) {
    float:left;
 }
 .main_contact div:nth-child(2) {
    float:right;
 }
 .name_name {
     font-weight: 500;
     margin-bottom: 50px;
     font-size: 20px;
 }